<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="test/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Declarements Class">
            <file>./test/auth/declarements.php</file>
        </testsuite>
        <testsuite name="Cookies Class">
            <file>./test/cookie/cookies.php</file>
        </testsuite>
    </testsuites>
</phpunit>